In [1]:
1

1

In [4]:
1.0

1.0

In [5]:
1*5

5

In [6]:
1/2

0.5

In [7]:
2**4

16

In [8]:
// 'parentheses works for order of operatoins'

SyntaxError: invalid syntax (<ipython-input-8-7d5f72b75ef6>, line 1)

In [13]:
#mod 
8%2

0

In [14]:
# mod

In [15]:
x = 2;

In [16]:
x =x +2

In [17]:
x

4

In [18]:
x

4

In [19]:
x

4

In [20]:
x = x + x

In [21]:
x

8

In [22]:
x

8

In [23]:
x

8

In [24]:
# cant start off varible names with special symbols like $ and numbers

In [25]:
# "this is a string"

In [26]:
'this is a string'

'this is a string'

In [27]:
# two ways of creating strings with single quote and double quote

In [28]:
# wraping single quotes inside double quote will let use '

In [29]:
"This is how we should use single quote ' '"

"This is how we should use single quote ' '"

In [30]:
"Anup's a data scientist."

"Anup's a data scientist."

In [31]:
x = 'hello'

In [32]:
x

'hello'

In [33]:
print(x)

hello

In [34]:
num = 12
name = 'Sam'

In [35]:
'My numebr is {} and my name is {} '.format(num,name)

'My numebr is 12 and my name is Sam '

In [36]:
## that is how to use format method to format print and statement

In [37]:
print ('My numebr is {} and my name is {} '.format(num,name))

My numebr is 12 and my name is Sam

In [38]:
print ('My numebr is {one} and my name is {two} '.format(one=num,two=name))

My numebr is 12 and my name is Sam

In [39]:
## INdexing string

In [40]:
S = 'hello'

In [41]:
s[2]

NameError: name 's' is not defined

In [42]:
S[3]

'l'

In [43]:
print(S[1])

e

In [44]:
print(S[S.lenght()])

AttributeError: 'str' object has no attribute 'lenght'

In [45]:
print(S[S.length()])

AttributeError: 'str' object has no attribute 'length'

In [46]:
S[0:]

'hello'

In [47]:
S[:3]

'hel'

In [48]:
S[1:4]

'ell'

In [49]:
S[2:2]

''

In [50]:
S[2:3]

'l'

In [51]:
# Lists

In [52]:
# set of variables or values separated by comma

In [53]:
# sequence of elements separated by comma

In [54]:
## elements can be of any data type

In [55]:
[1,2,3]

[1, 2, 3]

In [56]:
['a', 'b', 'c']

['a', 'b', 'c']

In [57]:
my_list = ['a', 'b','v','c']

In [58]:
my_list.append('d')

In [59]:
my_list

['a', 'b', 'v', 'c', 'd']

In [60]:
print(my_list)

['a', 'b', 'v', 'c', 'd']

In [61]:
my_list[2]

'v'

In [62]:
my_list[2:4]

['v', 'c']

In [63]:
## reassign values

In [64]:
my_list[0] = 'new'

In [65]:
my_list

['new', 'b', 'v', 'c', 'd']

In [66]:
new = [1,2,3]

In [67]:
my_list[0][1]

'e'

In [68]:
new

[1, 2, 3]

In [69]:
my_list[0]

'new'

In [70]:
nest = ['a','b',[1,2],'c']

In [71]:
nest[2][0]

1

In [72]:
x = [1,2]

In [73]:
list1 = ['a','b','c',x]

In [74]:
list1[3]

[1, 2]

In [75]:
list1[3][1]

2

In [76]:
nest1 = [1,2,4,[4,5,0,7,['target']]]

In [78]:
nest1[3][4][3]

IndexError: list index out of range

In [79]:
nest1[3][4][3]

IndexError: list index out of range

In [80]:
nest1

[1, 2, 4, [4, 5, 0, 7, ['target']]]

In [81]:
nest1[3][4][2]

IndexError: list index out of range

In [82]:
nest1[3]

[4, 5, 0, 7, ['target']]

In [83]:
nest1[3][4]

['target']

In [85]:
nest1[3][4][0]

'target'

In [86]:
nest1 = [1,2,4,[4,5,0,7,['target','abercrombie']]]

In [88]:
nest1[3][4][1][2]

'e'